{% extends 'newsletter/base.html' %}
{% block content %}
<main class="px-3">
    <h1>Добро пожаловать</h1>
    <h1>в сервис рассылок!</h1>
    <p class="lead">Здесь вы можете создать и настроить отправку рассылок для информирования и привлечения
        клиентов.</p>
    <p class="lead">
        <a href="{% url 'newsletter:mail_create' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Создать
            рассылку</a>
    </p>
    <br>
    <div class="row">
        <div class="col-6 text-sm-start">
            <li>Количество рассылок на сайте - {{count}} </li>
            <li>Количество активных рассылок - {{is_active}} </li>
            <li>Количество клиентов - {{unique}} </li>
        </div>
    </div>
</main>
{% endblock %}